.OpenButton {
  color: #000;
  font-size: 1rem;
}

.message-in img:not([draggable="false"]),
.message-out img:not([draggable="false"]) {
  filter: blur(8px);
}

#side [data-icon^="status-v3"] {
  display: none;
}
